
/* Search  box */
.center {
  text-align: center;
}
button {
  cursor: pointer;
}

.middle-section {
  flex: 1;
  margin: auto;
  max-width: 400px;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.Search-bar {
  flex: 1;
  height: 35px;
  border-style: solid;
  border-right: none;
  border: 1px solid black;
  border-radius: 62px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
  padding-left: 1.2rem;
}
.Search-bar:hover {
  border: 1px solid blue;
}
.Search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  padding-left: 10px;
}
.search-button {
  height: 35px;
  width: 66px;
  border-radius: 42px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid rgb(100, 100, 100);
  background-color: rgb(245, 245, 245);
  margin-left: -1px;
  margin-right: 10px;
  border-left: none;
}
.search-button:hover {
  background-color: rgb(232, 231, 231);
}
.search-icon {
  height: 25px;
  margin-top: 4px;
}
.voice-search-button {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  border-style: none;
  background-color: #f8f8f8;
}
.voice-search-button:hover {
  background-color: #e9e7e7;
}
.voice-search-icon {
  height: 24px;
  align-items: center;
}